.support-center {
    text-align: center;
    padding: 2rem;
}

.support-center h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.support-center h1 span {
    color: red;
    
}

.support-center p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 2rem;
}

.team {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.team-member {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.team-member img {
    width: 100%;
    border-radius: 50%;
}

.team-member h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.team-member p {
    color: #888;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icons i {
    font-size: 1.2rem;
    color: #555;
    transition: color 0.3s;
}

.social-icons i:hover {
    color: #000;
}